html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
header,
nav,
section {
  display: block;
}
a {
  text-decoration: none;
  background-color: transparent;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
img {
  border: 0;
}
ol, ul {
  list-style-type: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
  font-size: 16px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: 0;
}
